body {
    font-family: Arial, sans-serif;
    direction: rtl;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
}

#map {
    height: 400px;
    width: 100%;
}

#location-details {
    margin: 20px;
    text-align: center;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}
